body{
background:#070719;


}

div#titulo{
color:#00215F;
text-align:center;
text-decoration: underline;
background-color:#337AFF;
}

h2{
font-family: arial;
color:#7BA1FB;


}
p, ul li{
color:white;
font-family: courier;
}

div#formulario{
margin: 5px;
padding: 7px;
border-color: white;
border-style: double;
}

div#titulo{
margin: 5px;
padding: 7px;
border-color:white;
border-style: dotted;
}
div p{
text-decoration: underline;}

div input{
margin-left: 20px;
padding-left: 10px;}
